body {
  margin: 0;
  font-family: "Prompt", sans-serif;
}

html,
body,
#root {
  height: 100%;
  background: url('./assets/images/bg.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  height: 90vh;
  background-color: white;
  border-radius: 20px;
  margin-top: 40px;  
}

.container-white {
  background-color: #ffffff;
  border-radius: 20px;
  height: 90vh;
  width: 90vh;
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 37px;
  color: #383838;
  // background-color: aqua;
}

.button {
  height: 56px; 
  width: 120px;
  color: #ffffff;
  background-image: radial-gradient(ellipse farthest-corner at top left, #c41417 0%, #b31315 100%);
  border-radius: 10px;
  border: 'none',
}

.textButton {
  // color: #6f6f6f;
  // &:hover {
  //   color:#c41417;
  // }
  font-size: 18px;
  color: #ffffff
}

.input { 
  height: 60px;
  width: 420px;
  color: #4e4e4e;
  border: 3px solid lightgray;
  border-radius: 10px;
  font-size: 34px;
  text-align: center;
}